In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pivot subway data from long to wide format

In [3]:
#access subway data
#number of days in month * 143 unique stations = one month of entries
url_sc = 'https://data.cityofchicago.org/resource/5neh-572f.json?$where=date%20%3E%272021-05-15%27&$limit=4433'
subway_df_closed = pd.read_json(url_sc)

url_so = 'https://data.cityofchicago.org/resource/5neh-572f.json?$where=date%20%3E%272021-04-15%27&$limit=4290'
subway_df_open = pd.read_json(url_so)

In [4]:
subway_df_closed

# reshape from long to wide in pandas python

subway_df_closed_wide = subway_df_closed.pivot(index = 'date', columns='stationname', values='rides').reset_index()
subway_df_open_wide = subway_df_open.pivot(index = 'date', columns='stationname', values='rides').reset_index()

## Iteratively add SRI segements to dataframe

In [2]:
from datetime import date, timedelta
def dates(startyear, startmon, startday, endyear, endmon, endday): #in (year, month, day) format
    start_date = date(startyear, startmon, startday) 
    end_date = date(endyear, endmon, endday)    # perhaps date.now()

    delta = end_date - start_date   # returns timedelta
    days = []
    for i in range(delta.days + 1):
        day = start_date + timedelta(days=i)
        days.append(str(day))
    return days

In [3]:
days = dates(2018,3,5,2021,3,4)

In [5]:
#test behavior with one sample csv
files = ['/Users/amandakhoo/code/data4all-team6/data/SRI/1061_SRI.csv', '/Users/amandakhoo/code/data4all-team6/data/SRI/1062_SRI.csv']
columns = []
for file in files:
    df = pd.read_csv(file).dropna()
    maxtest = []
    for day in days:
        maxtest.append(df.loc[df['time'].str.contains(day), 'SRI'].max(skipna = True))
        #print(len(maxtest))
    columns.append(maxtest)
    
testdf = pd.DataFrame()
testdf['date'] = days

final_testdf = pd.concat([testdf,pd.DataFrame(columns).T], axis = 1)
final_testdf

            date         0         1
0     2018-03-05 -0.317582  0.011064
1     2018-03-06  2.906682  0.035418
2     2018-03-07  0.038480  0.035418
3     2018-03-08  0.044862  0.035418
4     2018-03-09  0.044862  0.209375
...          ...       ...       ...
1091  2021-02-28  0.044862  0.035418
1092  2021-03-01  0.044862  0.035418
1093  2021-03-02  0.044862  0.035418
1094  2021-03-03  0.044862  0.008630
1095  2021-03-04       NaN       NaN

[1096 rows x 3 columns]

In [ ]:
#run for all csvs in SRI folder (~over 1000 segments)
import os
import glob
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd() + '/data/SRI/'

#print(path) #this should be the same as the path to where the csvs are
#print('/Users/amandakhoo/code/data4all-team6/data/SRI/')

csv_files = glob.glob(os.path.join(path, "*.csv"))
  
days = dates(2018,3,5,2021,3,4)
SRI = pd.DataFrame()
SRI['date'] = days
column_names = []
column_data = []
counter = 0  

# loop over the list of csv files
for f in csv_files:
    # read the csv file

    df = pd.read_csv(f).dropna()
    daily_max_SRIs = []
    
    #iterate over the days of interest
    for day in days:
        daily_max_SRI = df.loc[df['time'].str.contains(day), 'SRI'].max(skipna = True)
        daily_max_SRIs.append(daily_max_SRI)
    
    #add date column to the SRI df
    
    # print the location and filename
    #print('Location:', f)
    #print('File Name:', f.split("\\")[-1])
    
    #add new columns by segment ID with max SRI per day
    file_name = f.split("\\")[-1]
    segment = file_name.split('/')[-1].split('.')[0].split('_')[0] #get the segement number from the filename
    
    column_names.append('segment_' + segment + '_max_SRI')
    column_data.append(daily_max_SRIs)
    
    counter += 1
    print('completed file' + str(counter))

completed file1
completed file2
completed file3
completed file4
completed file5
completed file6
completed file7
completed file8
completed file9
completed file10
completed file11
completed file12
completed file13
completed file14
completed file15
completed file16
completed file17
completed file18
completed file19
completed file20
completed file21
completed file22
completed file23
completed file24
completed file25
completed file26
completed file27
completed file28
completed file29
completed file30
completed file31
completed file32
completed file33
completed file34
completed file35
completed file36
completed file37
completed file38
completed file39
completed file40
completed file41
completed file42
completed file43
completed file44
completed file45
completed file46
completed file47
completed file48
completed file49
completed file50
completed file51
completed file52
completed file53
completed file54
completed file55
completed file56
completed file57
completed file58
completed file59
completed file60
completed file61
completed file62
completed file63
completed file64
completed file65
completed file66
completed file67
completed file68
completed file69
completed file70
completed file71
completed file72
completed file73
completed file74
completed file75
completed file76
completed file77
completed file78
completed file79
completed file80
completed file81
completed file82
completed file83
completed file84
completed file85
completed file86
completed file87
completed file88
completed file89
completed file90
completed file91
completed file92
completed file93
completed file94
completed file95
completed file96
completed file97
completed file98
completed file99
completed file100
completed file101
completed file102
completed file103
completed file104
completed file105
completed file106
completed file107
completed file108
completed file109
completed file110
completed file111
completed file112
completed file113
completed file114
completed file115
completed file116
completed file117
completed file118
completed file119
completed file120
completed file121
completed file122
completed file123
completed file124
completed file125
completed file126
completed file127
completed file128
completed file129
completed file130
completed file131
completed file132
completed file133
completed file134
completed file135
completed file136
completed file137
completed file138
completed file139
completed file140
completed file141
completed file142
completed file143
completed file144
completed file145
completed file146
completed file147
completed file148
completed file149
completed file150
completed file151
completed file152
completed file153
completed file154
completed file155
completed file156
completed file157
completed file158
completed file159
completed file160
completed file161
completed file162
completed file163
completed file164
completed file165
completed file166
completed file167
completed file168
completed file169
completed file170
completed file171
completed file172
completed file173
completed file174
completed file175
completed file176
completed file177
completed file178
completed file179
completed file180
completed file181
completed file182
completed file183
completed file184
completed file185
completed file186
completed file187
completed file188
completed file189
completed file190
completed file191
completed file192

In [ ]:
#pd.concat([SRI, pd.DataFrame(column_data).T], axis = 1)
daily_SRI_df = pd.DataFrame(column_data).T

#print(column_names)

daily_SRI_df.columns = column_names
daily_SRI_df['date'] = days
daily_SRI_df

## Combine SRI and Subway data
where the dates match

In [137]:
url = 'https://data.cityofchicago.org/resource/5neh-572f.json?$where=date%20%3E%272018-04-08%27&$limit=4433'
subway_df = pd.read_json(url)
subway_df_wide = subway_df.pivot(index = 'date', columns='stationname', values='rides').reset_index()

#change all date types to object
subway_df_wide['date'] = subway_df_wide['date'].dt.date.astype(str).values

In [139]:
dates = subway_df_wide['date'].values
dates

array(['2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
       '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
       '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
       '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
       '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
       '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02',
       '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
       '2018-05-07', '2018-05-08', '2018-05-09'], dtype=object)

In [140]:
SRI_subway_subset = SRI[SRI['date'].isin(dates)]

In [141]:
print(SRI_subway_subset.dtypes)
print(subway_df_wide.dtypes)

date               object
segment_37_SRI    float64
segment_27_SRI    float64
segment_55_SRI    float64
segment_45_SRI    float64
                   ...
segment_14_SRI    float64
segment_22_SRI    float64
segment_32_SRI    float64
segment_40_SRI    float64
segment_50_SRI    float64
Length: 91, dtype: object
stationname
date                    object
18th                   float64
35-Bronzeville-IIT     float64
35th/Archer            float64
43rd                   float64
                        ...
Western-Cermak         float64
Western-Forest Park    float64
Western-Orange         float64
Western/Milwaukee      float64
Wilson                 float64
Length: 145, dtype: object

In [143]:
#merge
merged_subway_SRI_df = SRI_subway_subset.merge(subway_df_wide, on = 'date')

In [144]:
merged_subway_SRI_df.to_csv('data/SAMPLE_subway_SRI_data.csv')